.toggleAll, .toggleAllActive {
    position: absolute;
    top: 15px;
    left: 13px;

    color: #dbdbdb;

    font-size: 30px;
}

.toggleAllActive {
    color: #4d4d4d;
}

@media only screen and (max-width: 400px){
    .toggleAll, .toggleAllActive {
        top: 10px;
    }
}
